*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background:url(love-3061483_1920.jpg);
    height: auto;
}

h3{
    color: whitesmoke;
    font-size: 3vw;
    text-align: center;
    margin-top: 7vw;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 10vw;
}

input{
    padding: 2vw;
    color: white;
    background-color:black;
} 
